<div class="container-fluid">

    <!-- start page title -->
    <app-page-title></app-page-title>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card-box">

                <app-form [component]="this">

                    <div class="col-md-12 col-xl-4 col-lg-4">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input id="nome" class="form-control" [(ngModel)]="data.name">
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-4 col-lg-4">
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input id="email" class="form-control" [(ngModel)]="data.email">
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-4 col-lg-4">
                        <div class="form-group">
                            <label for="password">Senha</label>
                            <input type="password" id="password" class="form-control" [(ngModel)]="data.password">
                        </div>
                    </div>

                </app-form>


            </div>
        </div><!-- end col -->
    </div>
</div> <!-- end container -->
