<app-ui-preloader [display]="component.loading"></app-ui-preloader>

<form >
    <fieldset>
        <div class="row">
            <ng-content></ng-content>
        </div>
    </fieldset>
</form>

<div class="pt-3 float-right">
    <button (click)="component.back()" *ngIf="component._back" class="btn btn-primary text-white mr-2">
        <i class="mdi mdi-arrow-left"></i>VOLTAR
    </button>

    <button (click)="component.save()" *ngIf="component._save" class="btn btn-dark text-white">
        <i class="mdi mdi-check"></i> SALVAR
    </button>

</div>
<div class="clearfix"></div>
