<div class="container-fluid">

    <ng-container *ngIf="!public_route">
        <!-- start page title -->
        <app-page-title></app-page-title>
        <!-- end page title -->
    </ng-container>


    <div class="card-box">
        <div class="row">
            <div class="col-10">
                <select class="form-control" [(ngModel)]="campaign_id">
                    <option [value]="null">Selecione a Campanha</option>
                    <option *ngFor="let c of campaign" [innerHTML]="c.title" [value]="c._id"></option>
                </select>
            </div>
            <div class="col-2">
                <a class="btn btn-primary btn-block" (click)="export()" [class.disabled]="campaign_id == null" href="javascript:;">
                    <i class="fa fa-download"></i> Exportar
                </a>
            </div>
        </div>
    </div>

</div> <!-- end container -->

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">DIAGNÓSTICO COMPLETO</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <ng-container *ngFor="let camp of campaign">
                <div [class.col-12]="['identificacao'].indexOf(camp.name) !== -1"
                    [class.col-7]="['nome'].indexOf(camp.name) !== -1"
                    [class.col-2]="['idade'].indexOf(camp.name) !== -1"
                    [class.col-3]="['sexo'].indexOf(camp.name) !== -1"
                    [class.col-6]="['foto_tipo','exposicao_sol','historico_ca_pele','historico_familia_ca_pele','pessoa_risco_ca_pele', 'diagnostico_clinico', 'como_soube_campanha','como_soube_campanha','evelocao','localizacao','conduta'].indexOf(camp.name) !== -1"
                    class="mb-2">
                    <h4>{{camp.label}}</h4>
                    <div [innerHTML]="showValues(camp)"></div>
                </div>
            </ng-container>
        </div>
        <div class="row">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fechar</button>
    </div>
</ng-template>