<div class="container-fluid">

    <!-- start page title -->
    <app-page-title></app-page-title>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card-box">
                <h4>PESQUISA</h4>
                <div class="row">
                    <div class="col-8">
                        <label class="col-form-label">NOME</label>
                        <input class="form-control" [(ngModel)]="params.name"/>
                    </div>
                    <div class="col-4">
                        <label class="col-form-label">E-mail</label>
                        <input class="form-control" [(ngModel)]="params.email"/>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 text-right">
                        <button class="btn btn-primary" (click)="search()"><i
                                class="fa fa-search"></i> PESQUISAR
                        </button>
                    </div>
                </div>
            </div>


            <div class="card-box">

                <app-list [component]="this">

                    <thead class="bg-dark text-white thead">
                    <tr>
                        <th width="1%">#</th>
                        <th>NOME</th>
                        <th>E-MAIL</th>
                        <th width="7%" class="text-center">AÇÕES</th>
                    </tr>
                    </thead>
                    <tbody class="tbody">
                    <tr *ngFor="let row of data; let i = index;" [class.deleted]="row.delete">
                        <td scope="row">{{(i + 1)}}</td>
                        <td scope="row">{{row.name}}</td>
                        <td scope="row">{{row.email}}</td>
                        <td scope="row">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <button type="button" (click)="delete(row)" placement="top" ngbTooltip="Excluir"
                                        class="btn btn-danger text-white"><i
                                        class="mdi mdi-trash-can" *ngIf="_delete"></i></button>
                                <button type="button" class="btn btn-primary text-white" (click)="edit(row._id)"
                                        placement="top" ngbTooltip="Editar"
                                        *ngIf="_edit">
                                    <i class="mdi mdi-square-edit-outline"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </app-list>

            </div>
        </div><!-- end col -->
    </div>
</div> <!-- end container -->
