<div class="account-pages mt-5 mb-5">


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="text-center pb-4">
                    <a href="/">
                        <span><img src="assets/images/logo-light.png" alt="" width="35%"></span>
                    </a>
                </div>
                <div class="card">
                    <div class="card-body p-4">

                        <form class="needs-validation" name="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()"
                              novalidate>

                            <app-ui-preloader [display]="loading"></app-ui-preloader>

                            <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                            <div class="form-group mb-2">
                                <label for="email">E-mail</label>

                                <input type="email" formControlName="email" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email"
                                       placeholder="E-mail"/>

                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">E-mail é obrigatório</div>
                                    <div *ngIf="f.email.errors.email">O e-mail deve ser um endereço de e-mail válido
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="password">Senha</label>

                                <input type="password" formControlName="password" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password"
                                       placeholder="Password"/>

                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Senha requerida</div>
                                </div>
                            </div>

                            <div class="form-group mb-0 text-center">
                                <button class="btn btn-primary btn-block" type="submit">Entrar</button>
                            </div>
                        </form>
                    </div> <!-- end card-body -->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p>
                            <a routerLink="/account/reset-password" class="text-white ml-1"><i
                                    class="fa fa-lock mr-1"></i>Esqueceu a senha?</a>
                        </p>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->
