<div class="container-fluid">

    <ng-container *ngIf="!public_route">
        <!-- start page title -->
        <app-page-title></app-page-title>
        <!-- end page title -->
    </ng-container>


    <div class="card-box">
        <ng-container *ngIf="doctor._id === undefined; else details">
            <div class="row">
                <div class="col-12">
                    <label>Selecione o arquivo JSON para importar</label>
                    <input type="file" (change)="onFileChanged($event)" class="form-control">
                </div>
            </div>
        </ng-container>

        <ng-template #details>
            <div class="row">
                <div class="col-10">

                    <img [src]="doctor.photo" (error)="doctor.photo = '/assets/images/no-avatar.png'">
                    <h4 style="font-weight: bold; text-transform: uppercase">{{doctor.name}}</h4>
                    <h6><i class="fa fa-envelope"></i> {{doctor.email}}</h6>
                    <h6><i class="fa fa-phone"></i> {{doctor.phone !== '' ? doctor.phone : 'NÃO INFORMADO'}}</h6>
                </div>
                <div class="col-2">
                    <a class="btn btn-danger btn-block" (click)="newImport()" 
                        href="javascript:;">
                        Nova Importação
                    </a>
                    <a class="btn btn-primary btn-block" (click)="import()"
                        [class.disabled]="desabilitar_botao_importar" href="javascript:;">
                        <i class="fa fa-sync"></i> Importar
                    </a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4 text-right">
                    <div class="alert alert-info">
                        <h6>Diagnósticos no JSON</h6>
                        <h1>{{diagnosticos_json}}</h1>
                    </div>
                </div>
                <div class="col-4 text-right">
                    <div class="alert alert-success">
                        <h6>Diagnósticos sincronizados</h6>
                        <h1>{{diagnosticos_sincronizados}}</h1>
                    </div>
                </div>
                <div class="col-4 text-right">
                    <div class="alert alert-danger">
                        <h6>Diagnósticos a sincronizar</h6>
                        <h1>{{diagnosticos_sincronizar}}</h1>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <tr>
                                <th>Iniciais</th>
                                <th>Idade</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="alert alert-{{synced(d) ? 'success' : 'warning'}}"
                                *ngFor="let d of diagnostics">
                                <td>{{d.identificacao}}</td>
                                <td>{{d.idade}}</td>
                                <td style="width: 1%; white-space: nowrap">
                                    <button class="btn btn-dark" (click)="open(content, d)" placement="top"
                                        ngbTooltip="Visualizar diagnóstico"><i class="fa fa-clipboard-list"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <pre>
                                    {{diagnostics | json}}
                            </pre>
                </div>
            </div>
        </ng-template>
    </div>

</div> <!-- end container -->

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">DIAGNÓSTICO COMPLETO</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <ng-container *ngFor="let camp of campaign">
                <div [class.col-12]="['identificacao'].indexOf(camp.name) !== -1"
                    [class.col-7]="['nome'].indexOf(camp.name) !== -1"
                    [class.col-2]="['idade'].indexOf(camp.name) !== -1"
                    [class.col-3]="['sexo'].indexOf(camp.name) !== -1"
                    [class.col-6]="['foto_tipo','exposicao_sol','historico_ca_pele','historico_familia_ca_pele','pessoa_risco_ca_pele', 'diagnostico_clinico', 'como_soube_campanha','como_soube_campanha','evelocao','localizacao','conduta'].indexOf(camp.name) !== -1"
                    class="mb-2">
                    <h4>{{camp.label}}</h4>
                    <div [innerHTML]="showValues(camp)"></div>
                </div>
            </ng-container>
        </div>
        <div class="row">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fechar</button>
    </div>
</ng-template>