<div class="topbar-menu">
    <div class="container-fluid">
        <div id="navigation" [ngbCollapse]="!showMobileMenu">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li class="has-submenu"><a [routerLink]="['/']" class="side-nav-link-ref"><i class="mdi mdi-view-dashboard"></i>Dashboard</a></li>
                <li class="has-submenu"><a [routerLink]="['/user']" class="side-nav-link-ref"><i class="fa fa-user"></i>Usuários</a></li>
                <li class="has-submenu"><a [routerLink]="['/service-desk']" class="side-nav-link-ref"><i class="fa fa-hospital"></i>Postos de Atendimento</a></li>
                <li class="has-submenu"><a [routerLink]="['/diagnostics']" class="side-nav-link-ref"><i class="fa fa-book-medical"></i>Diagnósticos</a></li>
                <li class="has-submenu"><a [routerLink]="['/import']" class="side-nav-link-ref"><i class="fa fa-upload"></i>Importação</a></li>
                <li class="has-submenu"><a [routerLink]="['/export']" class="side-nav-link-ref"><i class="fa fa-download"></i>Exportação</a></li>
            </ul>
            <!-- End navigation menu -->

            <div class="clearfix"></div>
        </div>
        <!-- end #navigation -->
    </div>
    <!-- end container -->
</div>
<!-- end navbar-custom -->
