<div class="account-pages mt-5 mb-5">


    <div class="home-btn d-none d-sm-block">
        <a [routerLink]="['/']"><i class="fas fa-home h2 text-white"></i></a>
    </div>

    <div class="text-center pb-4">
        <a href="/">
            <span><img src="assets/images/logo-light.png" alt=""  width="11%"></span>
        </a>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-pattern">
                    <div class="card-body p-4">
                        <div class="text-center mb-4">
                            <h4 class="text-uppercase mt-0 mb-3">Redefinir senha

                            </h4>
                            <p class="text-muted mb-0 font-13">Digite seu endereço de e-mail e enviaremos um e-mail com
                                instruções
                                para redefinir sua senha.</p>
                        </div>


                        <form class="needs-validation" name="resetForm" [formGroup]="resetForm" (ngSubmit)="onSubmit()"
                              novalidate>

                            <app-ui-preloader [display]="loading"></app-ui-preloader>

                            <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
                            <ngb-alert type="success" *ngIf="success" [dismissible]="false">{{ success }}</ngb-alert>

                            <div class="form-group mb-3" *ngIf="!success">
                                <label for="email">E-mail</label>

                                <input type="email" formControlName="email" class="form-control"
                                       [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email"
                                       placeholder="E-mail"/>

                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">E-mail é obrigatório</div>
                                    <div *ngIf="f.email.errors.email">O email deve ser um endereço de email válido</div>
                                </div>
                            </div>

                            <div class="form-group mb-0 text-center" *ngIf="!success">
                                <button class="btn btn-primary btn-block" type="submit">Enviar</button>
                            </div>
                        </form>

                    </div> <!-- end card-body-->
                </div>
                <!-- end card -->

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted"><a routerLink="/account/login" class="text-white ml-1"><b>Voltar ao
                            login</b></a>
                        </p>
                    </div> <!-- end col -->
                </div>
                <!-- end row -->

            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end page -->
