<div class="container-fluid">

    <!-- start page title -->
    <app-page-title></app-page-title>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-12" >
            <div class="card-box" *ngIf="!hide_filter">
                <h4>PESQUISA</h4>
                <div class="row">
                    <div [class.col]="hasService" [class.col-6]="hasDoctor" [class.col-2]="!hasService">
                        <label class="col-form-label">CAMPANHA</label>
                        <select class="form-control custom-select" [disabled]="campaigns.length === 0" [(ngModel)]="params.campaign_id">
                            <option [ngValue]="null">SELECIONE</option>
                            <option *ngFor="let camp of campaigns;" [ngValue]="camp._id">{{camp.title}}</option>
                        </select>
                    </div>

                    <div class="col-2" *ngIf="!hasDoctor && !hasService">
                        <label class="col-form-label">ESTADOS</label>
                        <select class="form-control custom-select" [disabled]="states.length === 0"
                                (change)="getCities($event)" [(ngModel)]="params.state">
                            <option [ngValue]="null">SELECIONE UM ESTADO</option>
                            <option *ngFor="let state of states;">{{state}}</option>
                        </select>
                    </div>
                    <div class="col-2" *ngIf="!hasDoctor && !hasService">
                        <label class="col-form-label">CIDADE</label>
                        <select class="form-control custom-select" [disabled]="cities.length === 0"
                                [(ngModel)]="params.city" (change)="getServices($event)">
                            <option [ngValue]="null">SELECIONE UMA CIDADE</option>
                            <option *ngFor="let city of cities;">{{city}}</option>
                        </select>
                    </div>
                    <div [class.col-3]="!hasDoctor" [class.col-6]="hasDoctor" *ngIf="!hasService">
                        <label class="col-form-label">POSTO DE ATENDIMENTO</label>
                        <select class="form-control custom-select" [disabled]="campaign === null"
                                [(ngModel)]="params.hospital_id" (change)="getDoctors($event)">
                            <option [ngValue]="null">SELECIONE UM POSTO</option>
                            <option *ngFor="let post of services;" [ngValue]="post.value">{{post.label}}</option>
                        </select>
                    </div>
                    <div class="col-3" *ngIf="!hasDoctor && !hasService">
                        <label class="col-form-label">MÉDICO</label>
                        <select class="form-control custom-select" [disabled]="doctors.length === 0"
                                [(ngModel)]="params.doctor_id">
                            <option [ngValue]="null">SELECIONE UM MÉDICO</option>
                            <option *ngFor="let doc of doctors;" [ngValue]="doc._id">{{doc.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 text-right">
                        <button class="btn btn-primary" (click)="search()"><i
                                class="fa fa-search"></i> PESQUISAR
                        </button>
                    </div>
                </div>
            </div>
            <div class="card-box">
                <app-list [component]="this" [paginate]="false">
                    <thead class="bg-dark text-white thead">
                    <tr>
                        <th width="1%">#</th>
                        <th>POSTO</th>
                        <th>MÉDICO</th>
                        <th>IDENTIFICAÇÃO</th>
                        <th>NOME</th>
                        <th>IDADE</th>
                        <th>DATA CADASTRO</th>
                        <th width="5%">AÇÕES</th>
                    </tr>
                    </thead>

                    <tbody class="tbody">
                    <tr *ngFor="let row of data; let i = index;" [class.deleted]="row.delete">
                        <td scope="row">{{(i + 1)}}</td>
                        <td scope="row">{{setService(row.hospital_id)}}</td>
                        <td scope="row">{{setDoctor(row.doctor_id)}}</td>
                        <td scope="row">{{row.identificacao}}</td>
                        <td scope="row">{{row.nome}}</td>
                        <td scope="row">{{row.idade}}</td>
                        <td scope="row">{{formatDate(row.created_at)}}</td>
                        <td scope="row" style="width: 1%; white-space: nowrap">
                            <button class="btn btn-danger" (click)="delete(row)" placement="top"
                                    ngbTooltip="Remover diagnóstico"><i
                                    class="fa fa-trash"></i>
                            </button>
                            <button class="btn btn-dark" (click)="open(content, row)" placement="top"
                                    ngbTooltip="Visualizar diagnóstico"><i
                                    class="fa fa-clipboard-list"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>

                </app-list>

            </div>
        </div><!-- end col -->
    </div>
</div> <!-- end container -->

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">DIAGNÓSTICO COMPLETO</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <ng-container *ngFor="let camp of campaign">
                <div
                        [class.col-12]="['identificacao'].indexOf(camp.name) !== -1"
                        [class.col-7]="['nome'].indexOf(camp.name) !== -1"
                        [class.col-2]="['idade'].indexOf(camp.name) !== -1"
                        [class.col-3]="['sexo'].indexOf(camp.name) !== -1"
                        [class.col-6]="['foto_tipo','exposicao_sol','historico_ca_pele','historico_familia_ca_pele','pessoa_risco_ca_pele', 'diagnostico_clinico', 'como_soube_campanha','como_soube_campanha','evelocao','localizacao','conduta'].indexOf(camp.name) !== -1"
                        class="mb-2"
                >
                    <h4>{{camp.label}}</h4>
                    <div [innerHTML]="showValues(camp)"></div>
                </div>
            </ng-container>
        </div>
        <div class="row">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Fechar</button>
    </div>
</ng-template>
