<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                Copyright 2019 Sociedade Brasileira de Dermatologia
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</footer>
