<div class="container-fluid">

    <!-- start page title -->
    <app-page-title></app-page-title>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card-box">
                <h4>PESQUISA</h4>
                <div class="row">
                    <div class="col-8">
                        <label class="col-form-label">NOME</label>
                        <input class="form-control" [(ngModel)]="params.name"/>
                    </div>
                    <div class="col-2">
                        <label class="col-form-label">BRASIL/ESTADOS</label>
                        <select class="form-control custom-select" [disabled]="states.length === 0"
                                (change)="getCities($event)" [(ngModel)]="params.state">
                            <option value="">...</option>
                            <option *ngFor="let state of states;">{{state}}</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label class="col-form-label">CIDADE</label>
                        <select class="form-control custom-select" [disabled]="cities.length === 0"
                                [(ngModel)]="params.city">
                            <option value="">...</option>
                            <option *ngFor="let city of cities;">{{city}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 text-right">
                        <button class="btn btn-primary" (click)="search()"><i
                                class="fa fa-search"></i> PESQUISAR
                        </button>
                    </div>
                </div>
            </div>

            <div class="card-box">
                <app-list [component]="this">

                    <thead class="bg-dark text-white thead">
                    <tr>
                        <th width="1%">#</th>
                        <th>CÓDIGO</th>
                        <th>NOME</th>
                        <th>MÉDICOS</th>
                        <th>DIAGNÓSTICOS</th>
                        <th width="10%">TELEFONE</th>
                        <th width="7%" class="text-center">AÇÕES</th>
                    </tr>
                    </thead>
                    <tbody class="tbody">
                    <tr *ngFor="let row of data; let i = index;" [class.deleted]="row.delete">
                        <td scope="row">{{(i + 1)}}</td>
                        <td scope="row">{{row.code}}</td>
                        <td scope="row">{{row.name}}<br/>
                            <small>{{row.city}} / {{row.state}}</small>
                        </td>
                        <td scope="row" align="center">{{row.doctors <= 0 ? '-' : row.doctors}}</td>
                        <td scope="row" align="center">{{row.diagnostics <= 0 ? '-' : row.diagnostics}}</td>
                        <td width="10%" scope="row">{{row.phone | mask: '(00) 0000.00000'}}</td>
                        <td scope="row">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <button type="button" (click)="delete(row)" class="btn btn-danger text-white"
                                        *ngIf="_delete" placement="top" ngbTooltip="Excluir">
                                    <i class="mdi mdi-trash-can"></i>
                                </button>
                                <button type="button" class="btn btn-primary text-white" (click)="edit(row._id)"
                                        placement="top" ngbTooltip="Editar"
                                        *ngIf="_edit">
                                    <i class="mdi mdi-square-edit-outline"></i>
                                </button>
                                <button type="button" class="btn btn-info text-white" (click)="doctors(row._id)"
                                        placement="top" ngbTooltip="Visualizar Médicos"
                                        *ngIf="_doctors">
                                    <i class="mdi mdi-medical-bag"></i>
                                </button>
                                <button type="button" class="btn btn-dark text-white" (click)="send(row)"
                                        placement="top" ngbTooltip="Enviar código por e-mail"
                                        [disabled]="row.sending"
                                        *ngIf="_send">
                                    <i class="fa fa-spin fa-spinner" *ngIf="row.sending"></i>
                                    <i class="mdi mdi-email" *ngIf="!row.sending"></i>
                                </button>
                                <button type="button" class="btn btn-secondary text-white" (click)="diagnostic(row)"
                                        placement="top" ngbTooltip="Visualizar diagnósticos"
                                        *ngIf="_quiz">
                                    <i class="fa fa-clipboard-list"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </app-list>

            </div>
        </div><!-- end col -->
    </div>
</div> <!-- end container -->
