<div class="container-fluid">

    <!-- start page title -->
    <app-page-title></app-page-title>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card-box">

                <app-form [component]="this">

                    <div class="col-12">
                        <div class="row">
                            <div [class.col-8]="data.attach" [class.col-10]="!data.attach"><h3 style="float: left;">
                                Dados do hospital</h3></div>
                            <div class="col-2" *ngIf="data.attach">
                                <i class="fa fa-times text-danger fa-lg" role="button"
                                   style="cursor: pointer; position: absolute; right: 0%;"
                                   (click)="delete_attach(data.logo, 'logo')"></i>
                                <img [src]="data.attach" class="img-fluid"/>
                            </div>
                            <div class="col-2">
                                <div style="float: right; cursor: default;" class="alert alert-success pt-1 w-100"
                                     *ngIf="data.code">
                                    <small style="font-size: x-small;">CÓDIGO</small>
                                    <h4 class="p-0 m-0">{{data.code}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 col-xl-2 col-lg-2">
                        <div class="form-group">
                            <label for="accredited">Credenciado</label>
                            <select id="accredited" class="form-control custom-select" [(ngModel)]="data.accredited">
                                <option value="1" selected="selected">SIM</option>
                                <option value="2">NÃO</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-7 col-lg-7">
                        <div class="form-group">
                            <label for="nome">Nome</label>
                            <input id="nome" class="form-control" [(ngModel)]="data.name" autocomplete="false">
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-3 col-lg-3">
                        <label for="nome">Logo</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" data-name="logo" class="custom-file-input" id="logo"
                                       (change)="upload($event.target.files, $event.target)">
                                <label class="custom-file-label"
                                       for="logo">{{data.logo || 'Selecione um arquivo'}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-3 col-lg-3">
                        <div class="form-group">
                            <label for="public_service">Atendimento ao Público </label>
                            <input id="public_service" class="form-control"
                                   [(ngModel)]="data.public_service" autocomplete="false">
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-4 col-lg-4">
                        <div class="form-group">
                            <label for="service_forecast">Previsão de Atendimento</label>
                            <input id="service_forecast" class="form-control"
                                   [(ngModel)]="data.service_forecast" autocomplete="false">
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-3 col-lg-3">
                        <div class="form-group">
                            <label for="volunteer_forecasting">Previsão de voluntários</label>
                            <input id="volunteer_forecasting" class="form-control"
                                   [(ngModel)]="data.volunteer_forecasting" autocomplete="false">
                        </div>
                    </div>

                    <div class="col-md-2 col-xl-2 col-lg-2">
                        <div class="form-group">
                            <label for="cnpcp">Já participou da CNPCP?</label>
                            <select id="cnpcp" class="form-control custom-select" [(ngModel)]="data.cnpcp">
                                <option value="1" selected="selected">SIM</option>
                                <option value="2">NÃO</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2 col-xl-3 col-lg-3">
                        <div class="form-group">
                            <label for="attendance">Atendimento Secundário ou Primário?</label>
                            <select id="attendance" class="form-control custom-select" [(ngModel)]="data.attendance">
                                <option value="1" selected="selected">PRIMÁRIO</option>
                                <option value="2">SECUNDÁRIO</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2 col-xl-1 col-lg-1">
                        <div class="form-group">
                            <label for="resolutive">Resolutivo</label>
                            <select id="resolutive" class="form-control custom-select" [(ngModel)]="data.resolutive">
                                <option value="1" selected="selected">SIM</option>
                                <option value="2">NÃO</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-2 col-lg-2">
                        <div class="form-group">
                            <label for="forwarding">Encaminhamento </label>
                            <input id="forwarding" class="form-control"
                                   [(ngModel)]="data.forwarding" autocomplete="false">
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-3 col-lg-3">
                        <div class="form-group">
                            <label for="lecture">Realizará Palestras?</label>
                            <input id="lecture" class="form-control"
                                   [(ngModel)]="data.lecture" autocomplete="false">
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-3 col-lg-3">
                        <div class="form-group">
                            <label for="surgery"> Realizará Cirurgias?</label>
                            <input id="surgery" class="form-control"
                                   [(ngModel)]="data.surgery" autocomplete="false">
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="comments">Observações </label>
                            <textarea id="comments" class="form-control" rows="8"
                                      [(ngModel)]="data.comments" autocomplete="false"></textarea>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="coordinators"> Cordenadores Regionais </label>
                            <textarea id="coordinators" class="form-control" rows="8"
                                      [(ngModel)]="data.coordinators" autocomplete="false"></textarea>
                        </div>
                    </div>

                    <div class="col-12"><h3>Endereço</h3></div>

                    <div class="col-md-12 col-xl-2 col-lg-2">
                        <div class="form-group">
                            <label for="cep">CEP</label>
                            <input id="cep" class="form-control" (keyup)="consultCep($event)" mask="00000-000"
                                   [(ngModel)]="data.cep" autocomplete="false">
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-3 col-lg-3">
                        <div class="form-group">
                            <label for="place">Logradouro</label>
                            <input id="place" class="form-control" [(ngModel)]="data.place" autocomplete="false">
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-3 col-lg-3">
                        <div class="form-group">
                            <label for="district">Bairro</label>
                            <input id="district" class="form-control" [(ngModel)]="data.district" autocomplete="false">
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-2 col-lg-2">
                        <div class="form-group">
                            <label for="city">Cidade</label>
                            <input id="city" class="form-control" [(ngModel)]="data.city" autocomplete="false">
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-2 col-lg-2">
                        <div class="form-group">
                            <label for="state">Estado</label>
                            <input id="state" class="form-control" [(ngModel)]="data.state" autocomplete="false">
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-1 col-lg-1">
                        <div class="form-group">
                            <label for="number">Número</label>
                            <input id="number" class="form-control" [(ngModel)]="data.number" autocomplete="false">
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-3 col-lg-3">
                        <div class="form-group">
                            <label for="complement">Complemento</label>
                            <input id="complement" class="form-control" [(ngModel)]="data.complement"
                                   autocomplete="false">
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-4 col-lg-3">
                        <div class="form-group">
                            <label for="email">E-mail</label>
                            <input id="email" class="form-control" [(ngModel)]="data.email" autocomplete="false">
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-4 col-lg-3">
                        <div class="form-group">
                            <label for="site">Site</label>
                            <input id="site" placeholder="sem o http://" class="form-control" [(ngModel)]="data.site"
                                   autocomplete="false">
                        </div>
                    </div>

                    <div class="col-12"><h3>Coordenado local</h3></div>

                    <div class="col-md-12 col-xl-5 col-lg-5">
                        <div class="form-group">
                            <label for="responsible_name">Nome</label>
                            <input id="responsible_name" class="form-control" [(ngModel)]="data.responsible_name"
                                   autocomplete="false">
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-4 col-lg-4">
                        <div class="form-group">
                            <label for="responsible_email">E-mail</label>
                            <input id="responsible_email" type="email" class="form-control"
                                   [(ngModel)]="data.responsible_email" autocomplete="false">
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-3 col-lg-3">
                        <div class="form-group">
                            <label for="responsible_phone">Telefone</label>
                            <input id="responsible_phone" class="form-control" mask="(00) 0000.0000"
                                   [(ngModel)]="data.responsible_phone" autocomplete="false">
                        </div>
                    </div>

                    <div class="col-12"><h3>Coordenado regional</h3></div>

                    <div class="col-md-12 col-xl-5 col-lg-5">
                        <div class="form-group">
                            <label for="coordinator_name">Nome</label>
                            <input id="coordinator_name" class="form-control" [(ngModel)]="data.coordinator_name"
                                   autocomplete="false">
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-4 col-lg-4">
                        <div class="form-group">
                            <label for="coordinator_email">E-mail</label>
                            <input id="coordinator_email" type="email" class="form-control"
                                   [(ngModel)]="data.coordinator_email" autocomplete="false">
                        </div>
                    </div>

                    <div class="col-md-12 col-xl-3 col-lg-3">
                        <div class="form-group">
                            <label for="coordinator_phone">Telefone</label>
                            <input id="coordinator_phone" class="form-control" mask="(00) 0000.0000"
                                   [(ngModel)]="data.coordinator_phone" autocomplete="false">
                        </div>
                    </div>

                </app-form>

            </div>
        </div><!-- end col -->
    </div>
</div> <!-- end container -->
