agm-map {
  height: 224px;
}

#activity-container {
  height: 168px;
}

.display-4 {
  display: block;

  small {
    cursor: default;
    display: block;
    font-size: 18px;
  }
}


.list-group-item {
  cursor: pointer;
}

.selected {
  background-color: #f1f5f7 !important;
}
