<div class="container-fluid">

    <ng-container *ngIf="!public_route">
        <!-- start page title -->
        <app-page-title></app-page-title>
        <!-- end page title -->
    </ng-container>
    <div class="row">
        <div class="col-xl-12">
            <div class="card-box">
                <h4 *ngIf="!public_route">BEM VINDO AO MODULO DE GESTÃO DE DIAGNÓSTICOS SBD</h4>
                <div class="row">
                    <div class="col-12">
                        <label class="col-form-label">CAMPANHAS</label>
                        <select class="form-control custom-select" [(ngModel)]="filter.campaign_id"
                            [disabled]="data.length === 0">
                            <option [ngValue]="null">
                                {{data.length === 0 ? 'CARREGANDO AGUARDE...' : 'SELECIONE UMA CAMPANHA'}}</option>
                            <option *ngFor="let opt of campaings;" [ngValue]="opt._id">{{opt.title}}</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <label class="col-form-label">ESTADOS</label>
                        <select class="form-control custom-select" [(ngModel)]="filter.state"
                            [disabled]="filter.campaign_id === null" (change)="getCities($event)">
                            <option [ngValue]="null">SELECIONE UM ESTADO</option>
                            <option *ngFor="let state of states;">{{state}}</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label class="col-form-label">CIDADES</label>
                        <select class="form-control custom-select" [(ngModel)]="filter.city"
                            [disabled]="cities.length === 0 && campaing === null" (change)="getServices()">
                            <option [ngValue]="null">SELECIONE UM ESTADO</option>
                            <option *ngFor="let city of cities;">{{city}}</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label class="col-form-label">POSTOS DE ATENDIMENTO</label>
                        <select class="form-control custom-select" [(ngModel)]="filter.hospital_id"
                            [disabled]="filter.campaign_id === null" (change)="selectPosto()">
                            <option [ngValue]="null">SELECIONE UM POSTO DE ATENDIMENTO</option>
                            <option *ngFor="let service of services;" [ngValue]="service.value">{{service.label}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 text-right">
                        <button class="btn btn-primary" [disabled]="disable_search_btn" (click)="report()">
                            <i *ngIf="!loading" class="fa fa-search"></i> {{label_search_btn}}
                        </button>
                    </div>
                </div>

            </div>
        </div><!-- end col -->

        <div class="col-xl-12" *ngIf="retorno.ficha.length !== 0; else empty">
            <div class="card-box">
                <div class="row">
                    <div class="col-6">
                        <div class="alert alert-info">
                            <h6 class="text-right">Postos de Atendimento</h6>
                            <h1 class="text-right">{{retorno.total_hospital}}</h1>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="alert alert-info">
                            <h6 class="text-right">Diagnósticos</h6>
                            <h1 class="text-right">{{retorno.total_quiz}}</h1>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="mb-4 float-left">
                        <h4 class="mb-0">SELECIONE UMA PERGUNTA</h4>
                        <small>E visualize as estatíticas ao lado</small>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-3 pr-0">
                        <ul class="list-group list-group-flush">
                            <ng-container *ngFor="let quiz of retorno.ficha;">
                                <li class="list-group-item" [class.selected]="quiz.selected" (click)="select(quiz)">
                                    <i class="fa" [class.fa-check]="quiz.selected"></i> {{quiz.label}}</li>
                            </ng-container>
                        </ul>
                    </div>
                    <ng-container *ngIf="type !== null; else selectQuestion">
                        <div class="col-5">
                            <div class="jumbotron jumbotron-fluid m-0"
                                style="bottom:0%; position:absolute; top:0%; right: 2%; left: 0%; background-color: #f1f5f7 !important; padding: 0px; margin: 0px;">
                                <div class="container text-center">

                                    <ng-container>
                                        <table class="table table-striped table-bordered table-sm">
                                            <thead>
                                                <tr>
                                                    <th scope="col" class="text-left">{{type.label}}</th>
                                                    <th scope="col" style="width: 1%; white-space: nowrap">Quantidade
                                                    </th>
                                                    <th scope="col" style="width: 1%; white-space: nowrap">Porcentagem
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr *ngFor="let item of type.data">
                                                    <th scope="row" class="text-left">{{item.label}}</th>
                                                    <td class="text-right">{{item.total}}</td>
                                                    <td class="text-right">{{item.pct | number : '1.2-2'}}%</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <th class="text-left">Total</th>
                                                <th class="text-right">{{type.abstract.total}}</th>
                                                <th class="text-right">{{type.abstract.pct}}</th>
                                            </tfoot>
                                        </table>
                                    </ng-container>


                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <canvas id="chart" width="300" height="250"></canvas>
                        </div>
                    </ng-container>
                    <ng-template #selectQuestion>
                        <div class="col-9">
                            <div class="alert alert-warning">
                                Selecione ao lado uma pergunta para exibir as estatísticas
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
        <ng-template #empty>

            <div class="col-xl-12">
                <div class="card-box">
                    <div class="alert alert-warning">
                        <ng-container *ngIf="!loading">
                            Utilize o filtro acima para carregar as estatísticas.
                        </ng-container>
                        <ng-container *ngIf="loading">
                            Aguarde enquanto estamos carregando as estatísticas.
                        </ng-container>
                    </div>
                </div>
            </div>
        </ng-template>

    </div>
</div> <!-- end container -->