<div class="container-fluid">

    <!-- start page title -->
    <app-page-title></app-page-title>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-12">


            <div class="card-box">
                <h4>BEM VINDO AO MODULO DE GESTÃO DE DIAGNÓSTICOS SBD</h4>
                <div class="row">
                    <div class="col-12">
                        <label class="col-form-label">CAMPANHAS</label>
                        <select class="form-control custom-select"
                                [(ngModel)]="filter.campaign_id"
                                [disabled]="data.length === 0">
                            <option [ngValue]="null">{{data.length === 0 ? 'CARREGANDO AGUARDE...' : 'SELECIONE UMA CAMPANHA'}}</option>
                            <option *ngFor="let opt of campaings;"
                                    [ngValue]="opt._id">{{opt.title}}</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <label class="col-form-label">ESTADOS</label>
                        <select class="form-control custom-select"
                                [(ngModel)]="filter.state"
                                [disabled]="filter.campaign_id === null"
                                (change)="getCities($event)">
                            <option [ngValue]="null">SELECIONE UM ESTADO</option>
                            <option *ngFor="let state of states;">{{state}}</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <label class="col-form-label">CIDADES</label>
                        <select class="form-control custom-select"
                                [(ngModel)]="filter.city"
                                [disabled]="cities.length === 0 && campaing === null"
                                (change)="getServices()">
                            <option [ngValue]="null">SELECIONE UM ESTADO</option>
                            <option *ngFor="let city of cities;">{{city}}</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label class="col-form-label">POSTOS DE ATENDIMENTO</label>
                        <select class="form-control custom-select"
                                [(ngModel)]="filter.hospital_id"
                                [disabled]="filter.campaign_id === null"
                                (change)="selectPosto()">
                            <option [ngValue]="null">SELECIONE UM POSTO DE ATENDIMENTO</option>
                            <option *ngFor="let service of services;"
                                    [ngValue]="service.value">{{service.label}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 text-right">
                        <button class="btn btn-primary"
                                [disabled]="filter.campaign_id === null"
                                (click)="report()"><i
                                class="fa fa-search"></i> PESQUISAR
                        </button>
                    </div>
                </div>

            </div>
        </div><!-- end col -->

        <div class="col-xl-12" *ngIf="diagnostics.length !== 0">
            <div class="card-box">
                <div class="clearfix">
                    <div class="mb-4 float-left">
                        <h4 class="mb-0">SELECIONE UMA PERGUNTA</h4>
                        <small>E visualiza suas estatíticas ao lado</small>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-3 pr-0">
                        <ul class="list-group list-group-flush">
                            <ng-container *ngFor="let quiz of diagnostics;">
                                <li class="list-group-item" [class.selected]="quiz.selected"
                                    (click)="select(quiz)">
                                    <i class="fa" [class.fa-check]="quiz.selected"></i> {{quiz.label}}</li>
                            </ng-container>
                        </ul>
                    </div>
                    <div class="col-9">
                        <div class="jumbotron jumbotron-fluid m-0"
                             style="bottom:0%; position:absolute; top:0%; right: 2%; left: 0%; background-color: #f1f5f7 !important; padding: 0px; margin: 0px;">
                            <div class="container text-center">

                                <div *ngIf="type !== null" class="text-right mb-4">
                                    <h4 class="mb-0"><b>Filtrando por Estado</b>: {{filter.state || 'Todos'}} /
                                        <b>Cidade</b>: {{filter.city || 'Não definida'}} /
                                        <b>Serviço</b>: {{filter.hospital_id === null ? 'Não definido' : posto}}

                                    </h4>
                                    <small>Selecione uma pergunta ao lado para visualizar o relatório.</small>
                                </div>

                                <ng-container *ngIf="type !== null">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">{{type.label}}</th>
                                            <th scope="col">Quantidade</th>
                                            <th scope="col">Porcentagem</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr *ngFor="let item of type.data">
                                            <th scope="row">{{item.label}}</th>
                                            <td>{{countDiagnostic(item)}}</td>
                                            <td>{{percentDiagnostic(item)}}</td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </ng-container>


                                <div *ngIf="type === null">
                                    <img [src]="campaing.logo_color">

                                    <h3 class="display-4 mt-0">
                                        <small>CAMPANHA</small>
                                        {{campaing.title}}
                                    </h3>
                                    <p class="lead mb-0"><b>Filtrado por Estado</b>: {{filter.state || 'Todos'}} /
                                        <b>Cidade</b>: {{filter.city || 'Não definida'}} /
                                        <b>Serviço</b>: {{posto || 'Não definido'}}
                                    </p>
                                    <small>Selecione uma pergunta ao lado para visualizar o relatório.</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-box text-center">
                <canvas id="chart"></canvas>
            </div>

        </div>

    </div>
</div> <!-- end container -->
