<app-ui-preloader [display]="component.loading"></app-ui-preloader>

<div class="clearfix mb-2">
    <button (click)="component.new()" *ngIf="component._new" class="btn btn-primary text-white  float-right"><i
            class="mdi mdi-plus"></i>
        NOVO
    </button>
    <button (click)="component.back()" *ngIf="component._back" class="btn btn-primary text-white  float-right">
        <i class="mdi mdi-arrow-left"></i>
        VOLTAR
    </button>
</div>

<div class="alert alert-warning text-center" style="margin-top: 120px !important;" *ngIf="!component?.data">
    <i class=" mdi mdi-alert-circle"></i>
    NÃO HÁ REGISTROS NO MOMENTO
</div>

<div>
    <table class="table table-sm table-striped mb-0" *ngIf="component?.data.length !== 0">
        <ng-content select="thead"></ng-content>
        <ng-content select="tbody"></ng-content>
    </table>
    <div class="alert alert-warning text-center" *ngIf="component?.data.length === 0">
        <i class="fa fa-exclamation-circle fa-lg"></i> NÃO HÁ REGISTROS NO MOMENTO!
    </div>

    <div class="clearfix mt-3 " *ngIf="paginate">

        <div ngbDropdown class="d-inline-block float-left" placement="top-right" *ngIf="component._limit">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Total por
                pagina {{component.params.size}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let size of [10, 20, 40, 60, 80, 100, 500, 1000, 2000]"
                        (click)="component.changeSize(size)">{{size}}</button>

            </div>
        </div>


        <nav class="clearfix" *ngIf="component._nav && paginate">
            <ul class="pagination float-right">
                <li class="page-item">
                    <button class="page-link" (click)="component.first()" [disabled]="component.limit <= 1">
                        <i class="fa fa-angle-double-left"></i>
                    </button>
                </li>
                <li class="page-item">
                    <button class="page-link" [disabled]="component.params.page <= 0" (click)="component.prev()">
                        <i class="fa fa-angle-left"></i>
                    </button>
                </li>
                <li class="page-item active">
                    <button class="page-link">{{(component.params.page + 1)}}
                        / {{component.limit}}</button>
                </li>
                <li class="page-item">
                    <button class="page-link" (click)="component.next()"
                            [disabled]="(component.params.page + 1) >= component.limit" [disabled]="">
                        <i class="fa fa-angle-right"></i>
                    </button>
                </li>
                <li class="page-item">
                    <button class="page-link" (click)="component.last()" [disabled]="component.limit <= 1">
                        <i class="fa fa-angle-double-right"></i>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>
