<div class="container-fluid">

    <!-- start page title -->
    <app-page-title></app-page-title>
    <!-- end page title -->

    <div class="row">
        <div class="col-xl-12">
            <div class="card-box">

                <app-list [component]="this">

                    <thead class="bg-dark text-white thead">
                    <tr>
                        <th width="1%">#</th>
                        <th>NOME</th>
                        <th>CRM</th>
                        <th>E-MAIL</th>
                        <th>TELEFONE</th>
                        <th>DIAGNÓSTICOS</th>
                        <th width="7%" class="text-center">AÇÕES</th>
                    </tr>
                    </thead>
                    <tbody class="tbody">
                    <tr *ngFor="let row of data; let i = index;" [class.deleted]="row.delete">
                        <td scope="row">{{(i + 1)}}</td>
                        <td scope="row">{{row.name}}</td>
                        <td scope="row">{{row.crm}}</td>
                        <td scope="row">{{row.email}}</td>
                        <td scope="row">{{row.phone | mask: '(00) 0000.00000'}}</td>
                        <td scope="row">{{row.diagnostics}}</td>
                        <td scope="row">
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                                <button type="button" (click)="delete(row)" class="btn btn-danger text-white"  placement="top" ngbTooltip="Excluir"
                                        *ngIf="_delete">
                                    <i class="mdi mdi-trash-can"></i>
                                </button>
                                <button type="button" class="btn btn-primary text-white" (click)="edit(row._id)"  placement="top" ngbTooltip="Editar"
                                        *ngIf="_edit">
                                    <i class="mdi mdi-square-edit-outline"></i>
                                </button>
                                <button type="button" class="btn " [class.btn-primary]="row.admin"  placement="top" ngbTooltip="Deinir médico como adminstrador"
                                        [class.btn-outline-primary]="!row.admin" (click)="admin(row)"
                                        *ngIf="_admin">
                                    <i class="fa fa-star" [class.text-white]="row.admin"></i>
                                </button>
                                <button type="button" class="btn btn-dark text-white" (click)="diagnostic(row)"  placement="top" ngbTooltip="Visualizar diagnósticos"
                                        *ngIf="_quiz">
                                    <i class="fa fa-clipboard-list"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>

                </app-list>

            </div>
        </div><!-- end col -->
    </div>
</div> <!-- end container -->
